@media screen and (max-width: 768px){
   header{
    padding-bottom:60px;
  }
}

.col-md-12 .text-center .btn {
    margin-right: 12px;
    margin-left: 12px;
}

 .zero-pad{
        padding: 0px;
    }